body {
    background: #D8EEFE;
}
.inputSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.filter-month,
.filter-name {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #094067;
}
.filter-name-input,
.filter-month-select {
    background: #FFFFFE;
    border-radius: 5px;
    border-style: none;
    padding: 1rem;
}

.add-person-btn {
    background: #EF4565;
    border-radius: 5px;
    color: #FFFFFE;
    padding: 0.6rem;
    border-style: none;
    border-style: 0;
    margin-top: 20px;
    /* width: 100px; */
}
.list-of-data {
    background: linear-gradient(180deg, rgba(70, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    /* background-color: rgba(255, 0, 255, 0.5); */
}

header {
    text-align: center;
}

td img {
    width: 100%;
    border-radius: 5px;
}

tr {
    color: grey;
   display: flex;
   flex-direction: row;
    background-color: cadetblue;
}

th {
    font-size: 16px;
}
.open {
    width: 300px;
    position: fixed;
    margin: auto;
    background: rgb(255, 255, 255);
    border: 2px solid lightskyblue;
    top: 20%;
    left: 30%;
    border-radius: 8px;
    box-shadow: 15px 15px 15px lightsteelblue;
}

.to-deleteEl p {
    font-size: 2rem;
}

.to-deleteEl p:first-of-type {
    color: red;
}

.buttons {
    display: flex;
    gap: 1rem;
    border-radius: 6px;
}

.to-delete {
    width: 300px;
   height: 200px;
    background-color: rgb(255, 208, 0, 0.9);
    border-radius: 6px;
}

.to-deleteEl {
    text-align: center;
}

.searchItem{
  
}

.searchMonth select , .searchItem {
    width: 200px; 
    padding: 12px;
    border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

}

.reset {
    /* width: 200px;   */
    padding: 10px;
    background-color: violet;
    border-style: none;
    border-radius: 6px;
}

#myInput {
    background-image: url('./images/searchicon.svg');
    /* Add a search icon to input */
    background-position: 0 2px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    max-width: 300px;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
}

svg {
    width: 20px;
}