body {
    margin: auto;
    max-width: 90%;
    min-width: 90%;
}

.searchItem {
    display: flex;
    flex-direction: column;
}

.inputSearch {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 4rem;

}
.list-of-data {
    background: linear-gradient(180deg, rgba(70, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    /* background-color: rgba(255, 0, 255, 0.5); */
}

header {
    text-align: center;
}

td img {
    width: 100px;
    border-radius: 50%;
}

tr {
    color: grey;
   display: flex;
   flex-direction: row;
    background-color: cadetblue;
}

th {
    font-size: 16px;
}
.open {
    width: 300px;
    position: fixed;
    margin: auto;
    background: rgb(255, 255, 255);
    border: 2px solid lightskyblue;
    top: 20%;
    left: 30%;
    border-radius: 8px;
    box-shadow: 15px 15px 15px lightsteelblue;
}

input {
    margin-block-end: 1rem;
    padding: 1rem;
    margin-block-end: 1rem;
    border-color: fuchsia;
    border-radius: 6px;
}

label {
    font-size: 1rem;
    text-transform: uppercase;
    color: fuchsia;
    font-weight: 700;
}

.to-deleteEl p {
    font-size: 2rem;
}

.to-deleteEl p:first-of-type {
    color: red;
}

.buttons {
    display: flex;
    gap: 1rem;
    border-radius: 6px;
}

.btn {
    padding: 10px;
    border-radius: 50%;
    background-color: pink;
    font-weight: 700;
}

.to-delete {
    width: 300px;
   height: 200px;
    background-color: rgb(255, 208, 0, 0.9);
    border-radius: 6px;
}

.to-deleteEl {
    text-align: center;
}
.add {
   width: 200px;
   border: 1px solid;
   border-radius: 6px;
   border-style: none;
}

.searchMonth select {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
}

.reset {
    width: 200px;  
    padding: 10px;
    background-color: violet;
    border-style: none;
    border-radius: 6px;
}

#myInput {
    background-image: url('./images/searchicon.svg');
    /* Add a search icon to input */
    background-position: 0 2px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    max-width: 300px;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
}

svg {
    width: 20px;
}